<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Calistoga&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>My Recipes</title>
</head>
<body>

    <h1 id="recipe-list-title">Recipe Tracker</h1>

    <table>
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Cuisine</th>
                <th>Recipe Preview</th>
                <th>  </th>
            </tr>
        </thead>
        <% recipes.forEach(recipe => { %>

            <tbody>
                <tr>
                    <td id="name-data-cell"><%= recipe.name %></td>
                    <td id="cuisine-data-cell"><p id="cuisine-p-tag"><%= recipe.cuisine %></p></td>
                    <td id="preview-data-cell"><%= recipe.instructions.substring(0, 100) %>...</td>
                    <td id="view-recipe-data-cell">
                        <i id="view-recipe-icon" class="fa-solid fa-magnifying-glass-plus icon-buttons" onclick="window.location.href='http://localhost:5467/recipes/<%= recipe.id %>'"></i>
                        <p id="view-recipe-text" style="display: inline;">(View recipe)</p>
                    </td>
                </tr>
            </tbody>
                
        <% }) %>
    </table>    

    <div id="add-recipe-div">
        <p class="icon-pointer-text" style="display: inline;">Click here to add a new recipe →</p>
        <i id="add-recipe-icon" class="fa-solid fa-circle-plus icon-buttons" onclick="window.location.href='http://localhost:5467/recipes/createRecipe'"></i>
    </div>
    
</body>
</html>